//
// EXAMPLE COMPONENT
// =================
// Optional description outlining what this component does, or highlighting
// and complex / abnormal functionality.
//
// Comments below are used as examples, but illustrate how a file could be split.
//

//
// BASE STYLES
// Optional description
//

.advert
	margin-bottom $grid--gutter
	width 100%

//
// STATE MODIFIERS
// Optional description
//

.advert--centered
	text-align center

//
// SIZE MODIFIERS
// Optional description
//
