//
// EXAMPLE COMPONENT
// =================
// Optional description outlining what this component does, or highlighting
// and complex / abnormal functionality.
//
// Comments below are used as examples, but illustrate how a file could be split.
//

//
// BASE STYLES
// Optional description
//

.fixtures
	background #eee
	border 1px black solid
	border-bottom none

.fixtures__row--header
	border-bottom 1px black solid
	background $color--darkblue
	color #fff

.fixtures__row--match
	border-bottom 1px solid black
	
	&.is-open
		.match-report
			display block

.fixtures__cell--match
	padding 0 5px 5px 5px

//
// STATE MODIFIERS
// Optional description
//


//
// SIZE MODIFIERS
// Optional description
//
