//
// EXAMPLE COMPONENT
// =================
// Optional description outlining what this component does, or highlighting
// and complex / abnormal functionality.
//
// Comments below are used as examples, but illustrate how a file could be split.
//

//
// BASE STYLES
// Optional description
//

.kit
	text-align center
	padding 10px
	
	img
		width 100%
		max-width rem(80)
		
		+width-min($mq--desktop)
			max-width rem(200)

//
// STATE MODIFIERS
// Optional description
//


//
// SIZE MODIFIERS
// Optional description
//
