//
// EXAMPLE COMPONENT
// =================
// Optional description outlining what this component does, or highlighting
// and complex / abnormal functionality.
//
// Comments below are used as examples, but illustrate how a file could be split.
//

//
// BASE STYLES
// Optional description
//

.match-report
	background #fff
	font-size rem(14)
	padding $grid--gutter
	// hide match reports by default
	display none

.match-report__score
.match-report__team-name
	padding-top 10px
	text-align center

.match-report__score
	font-size rem(20)
	
	p
		margin-bottom 0
	
.match-report__team-name
	font-size rem(20)
	
// .match-report__team-name
// 	font-size rem(25)

// .score
// 	font-size rem(30)
// 	letter-spacing 10px

.lineups
	margin $grid--gutter 0

.lineups__lineup
	padding 5px
	border 1px solid black



//
// STATE MODIFIERS
// Optional description
//


//
// SIZE MODIFIERS
// Optional description
//
