//
// EXAMPLE COMPONENT
// =================
// Optional description outlining what this component does, or highlighting
// and complex / abnormal functionality.
//
// Comments below are used as examples, but illustrate how a file could be split.
//

//
// BASE STYLES
// Optional description
//

.story
	border 1px solid #ccc
	margin-bottom $grid--gutter
	padding 5px

//
// STATE MODIFIERS
// Optional description
//


//
// SIZE MODIFIERS
// Optional description
//
