//-
//- MAIN FOOTER
//- ===========
//-

footer.main-footer(role='contentinfo')
  .content-center.content-gutter

    - var year = (new Date()).getFullYear()
    p
      small © #{year} #{config.title}
    p
      a(href='http://www.clock.co.uk/') Made by Clock
