//-
//- MAIN NAVIGATION
//- ===============
//-

- var links = ["", "fixtures", "players"]

.main-navigation(id='navigation', role='navigation', aria-label='Primary Navigation')
  .content-center.content-gutter

    nav
      ul 
        each link, index in links
          li
            if index === 0
              a(href="/") Home
            else
              a(href="/"+link) #{link}
