//-
//- MAIN HEADER
//- ===========
//-

header.main-header(role='banner')
	.grid.grid--middle
		.grid__item.tablet-one-half
			//- .main-header__site-logo #{config.title}
			.main-header__site-logo nufc.com
		.grid__item.tablet-one-half
			.advert.main-header__advert
				img(src="http://placehold.it/500x100")
