//
// MAIN HEADER
// ===========
//

.main-header
  padding 0
  background $color--verydarkblue
  border-bottom 1px #ccc solid
 
.main-header__site-logo
  text-align center
  color #f00
  font-family $font--arial
  font-size 50px

.main-header__advert
  padding 10px
  margin-bottom 0