//
// MAIN HEADER
// ===========
//

.main-header
  padding 0
  // background $color--verydarkblue
  // background radial-gradient(blue, red)
  background yellow
  border-bottom 1px #ccc solid
 
.main-header__site-logo
  text-align center
  color #fff
  font-family $font--arial
  font-size 50px
  text-transform uppercase

.main-header__advert
  padding 10px
  margin-bottom 0